# Build folders
build
# Build Artifacts
*.o
*.obj
# Executables
*.exe
*.dll
# Binary disk images
*.iso
*.img
*.bin

# Compiled GScript executables
*.gxe

# GScript Files that are not part of the OS
*.gs
*.gh

# GScript files that ARE part of the OS are tracked in the repo
!gs/examples/*
!gs/include/*